/* CSS go here */
#blog-side-menu h3.side-heading {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 32px;
    text-transform: uppercase;
}
.side-col{
    border-right: 1px solid #ccc;
}
h3.side-heading span{
    color:#15b895;
}
#blog-side-menu ul>li {
    margin: 15px 0;
}
#blog-side-menu ul>li>a {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #00000099;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    text-decoration: none;
    height: 36px;
}

#blog-side-menu ul>li.active>a, #blog-side-menu ul>li>a:hover {
    background: #e7f8f4;
    padding: 0 20px 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#blog-side-menu ul>li.active>a:before, #blog-side-menu ul>li>a:hover::before {
    content: '';
    position: absolute;
    background: #e7f8f4;
    width: 500px;
    left: -500px;    
    top: 0;
    height: 36px;
}
.blog-wrapper {
    max-width: 1120px;
    margin: 0 auto;
    min-height: 100px;
}