/* CSS go here */

.blog-side-menu h3.side-heading {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 32px;
    text-transform: uppercase;
}
h3.side-heading span{
    color:#15b895;
}
.blog-side-menu ul>li {
    margin: 15px 0;
}
.blog-side-menu ul>li>a {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #00000099;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    text-decoration: none;
    height: 36px;
}
.blog-side-menu ul>li.active>a, .blog-side-menu ul>li>a:hover {
    background: #e7f8f4;
    padding: 0 20px 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    color: #000;
}
.blog-side-menu ul>li.active>a:before, .blog-side-menu ul>li>a:hover::before {
    content: '';
    position: absolute;
    background: #e7f8f4;
    width: 500px;
    left: -500px;    
    top: 0;
    height: 36px;
}
.brdr{
    border-left: 1px solid #ccc;
}
.blog-wrapper {
    max-width: 1130px;
    margin: 0 auto;
    min-height: 100px;
}
.search-input{
    position: relative;
}
.search-input input {
    padding-left: 65px !important;
    width: calc(100% - 65px) !important;
}
.search-icons{
    display: inline-block;
    background: url(../img/blog/search-icon.png) no-repeat left top;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 8px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 24px;
   font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
   font-size: 24px;
   font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
   font-size: 24px;
   font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
   font-size: 24px;
   font-weight: 300;
}
ul.tags {
    width: calc(100% - 50px);
    overflow: hidden;
    display: inline-block;
    height: 36px;
    float: left;
}
.tag{
    display: inline-block;
    background: #fff;
    color: #16b692;
    padding: 0 22px;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #16b692;
    cursor: pointer;
    margin-right: 10px;
}
.tag.active{
    background: #16b692;
    color: #fff;
}
span.next-circle {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #1bb792;
    border-radius: 50%;
    margin: 15px 0;
    float: right;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}
.featured-post {
    position: relative;
    height: 320px;
}
.featured-tag{
    position: absolute;
    top: 20px;
    right: 0;
    background: rgba(27, 183, 146, 0.8);
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.featured-post a>img {
    width: 100%;
    height: 100%;
}
.detail-card{
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 300px;
    height: 145px;
    background:#ffffff;
    padding: 30px 20px;
}
.post-dated, .post-read {
    display: inline-block;
    color: #000000cc;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    padding-left: 20px;
}
.post-read{
    color:#1bb792;
}
.dated-icon{
    display: inline-block;
    background: url(../img/blog/dated-icon.png) no-repeat left top;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}
.read-icon{
    display: inline-block;
    background: url(../img/blog/read-icon.png) no-repeat left top;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}
.detail-card p {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 28px;
    color: #000000;
}

.sub-box{
    background-image: -ms-linear-gradient(top, #019FEB 0%, #13B894 100%);
    background-image: -moz-linear-gradient(top, #019FEB 0%, #13B894 100%);
    background-image: -o-linear-gradient(top, #019FEB 0%, #13B894 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #019FEB), color-stop(100, #13B894));
    background-image: -webkit-linear-gradient(top, #019FEB 0%, #13B894 100%);
    background-image: linear-gradient(to bottom, #019FEB 0%, #13B894 100%);
    min-height: 320px;
    padding: 40px 30px 30px 30px;
}
.sub-box h4 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 36px;
    margin: 10px 0 20px 0;
}
.sub-box h4>span {
    display: block;
    font-weight: 300;
}
.sub-box .input-field {
    margin: 10px 0 0 0;
}
.sub-box input[type=email] {
    height: 50px;
    background: #fff;
    border: 0;
    border-radius: 25px;
    padding: 0 25px;
    width: calc(100% - 60px);
    display: block;
    font-weight: 500;
    font-size: 16px;
}
.sub-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    font-weight: 500;
 }
 .sub-box input::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    font-weight: 500;
 }
 .sub-box input:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    font-weight: 500;
 }
 .sub-box input:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    font-weight: 500;
 }
 button.sub-btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 30px;
    top: 0;
    height: 100%;
    cursor: pointer;
}
 .post-tiles ul>li{
    width: calc((100% / 3) - 20px);
    height: 320px;
    position: relative;
    margin: 0 0 30px 30px;
    float: left;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
 }
 .post-tiles ul>li:nth-child(3n+1){
    margin-left: 0;
 }
 .post-tiles ul>li a>img {
    width: 100%;
}
 .post-tiles .detail-card {
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    padding-bottom: 0;
}
.view-tag{
    position: absolute;
    top: 0;
    right: 30px;
    background: rgba(27, 183, 146, 0.8);
    color: #fff;
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding: 0 8px 0 27px;
}
.views-icon{
    display: inline-block;
    background: url(../img/blog/views-icon.png) no-repeat left top;
    width: 16px;
    height: 12px;
    position: absolute;
    left: 8px;
    top: 8px;
}